.logo{
    height: 60px;
    width: 120px;
    border-radius: 20px;
}

a{
    color: #a770fd !important;
    text-decoration: none !important;
    font-size: large;
    font-weight: 700;
    margin-right: 15px;
}